--extra-index-url https://download.pytorch.org/whl/cpu

# Deep Learning packages
torch
torchvision
torchxrayvision
scikit-image

# API packages
fastapi
uvicorn
python-multipart
dotenv
sqlalchemy
psycopg[binary]